<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510807835075-a970uj8rrl0vmpdugi8iequ35bg1s1o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510807835075-a970uj8rrl0vmpdugi8iequ35bg1s1o8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510807835075-510hq962suevjuvog8pecqioa5nadhn3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtr4Hc9NJ3FA7ocCRChuWte69wwdamh8E</string>
	<key>GCM_SENDER_ID</key>
	<string>510807835075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kinujo</string>
	<key>PROJECT_ID</key>
	<string>kinujo-test2</string>
	<key>STORAGE_BUCKET</key>
	<string>kinujo-test2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510807835075:ios:8dceb76986fc042e64bd76</string>
	<key>DATABASE_URL</key>
	<string>https://kinujo-test2.firebaseio.com</string>
</dict>
</plist>