<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177676210326-cd0kckp8lcfa1c2633j5gn0aah826jtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177676210326-cd0kckp8lcfa1c2633j5gn0aah826jtv</string>
	<key>API_KEY</key>
	<string>AIzaSyCnt9SJ-mXJQdWjYr8pZE9k8nQVDl4rWOI</string>
	<key>GCM_SENDER_ID</key>
	<string>177676210326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.c2sg.kinujo</string>
	<key>PROJECT_ID</key>
	<string>temp-d963a</string>
	<key>STORAGE_BUCKET</key>
	<string>temp-d963a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177676210326:ios:998538cd63843fbd7432b7</string>
	<key>DATABASE_URL</key>
	<string>https://temp-d963a.firebaseio.com</string>
</dict>
</plist>